/***************************************************************** tag *****************************************************************/

textarea {
    resize: none;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/***************************************************************** id *****************************************************************/

/***************************************************************** class *****************************************************************/

.copy-button {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 3px;

    border: 1px solid;

    box-shadow: rgba(0, 0, 0, 0.15) 0 0px 10px;

    transition: 0.5s;
}

.copy-button:hover {
    background-image: linear-gradient(135deg, #FFEECC, #FFDDCC, #FFCCCC, #FEBBCC);
    border: #ff3165 1px solid;
    color: #cf1242;

    text-shadow: 0 0 9px #cf124233, 0 0 4px #fff2f2;
    box-shadow: #00000022 0 0 50px, #ffffff 0 0 15px, #ff3165 0 0 10px;

    transition: 1s;
}

.copy-button:active {
    background-image: linear-gradient(135deg, #FFFFCC, #FFEECC, #FFDDCC, #FFCCCC);
    color: #fdfcc8;

    box-shadow: #00000022 0 0 50px, #ffffff 0 0 15px, #faffb6 0 0 10px;

    transition: 0.1s;
}


.text-box {
    border: 1px solid;

    box-shadow: rgba(0, 0, 0, 0.15) 0 0px 10px;

    transition: 1s;
}

.text-box:hover {
    border: #ff85a4 1px solid;
    box-shadow: #00000022 0 0 20px, #ffffff 0 0 5px, #ff3165 0 0 3px;

    transition: 1s;
}

.text-box:focus {
    outline: none;
    border: #ff85a4 1px solid;
    box-shadow: #00000022 0 0 50px, #ffffff 0 0 15px, #ff3165 0 0 10px;

    transition: 1s;
}